/*------------------------------------------------------------*/
/* 0. Document Setup (structure)
/*------------------------------------------------------------*/

/*    RESET                                                   */
body,div,ul,li,form,input,p {
	margin:0;
	padding:0;
}

html,body {
	background: #666622;
	height: 100%;
}

/*    Common classes                                          */
.left {
	float: left;
}

.right {
	float: right;
}

/*    Layout                                                  */
.ribbon {
	height: 30px;
}

#instructions {
	position: relative;
	height: 15%;
	text-align: center;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

#board {
	position: relative;
	height: 30%;
}

#bidder{
	position: relative;
	height: 50%;
}

/*------------------------------------------------------------*/
/* 1. Ribbon (header)                                         */
/*------------------------------------------------------------*/

.ribbon {
	width: 100%;
}

.ribbon ul {
	list-style: none;
	padding: 5px;
	display: block;
}

.ribbon li {
	float: left;
	position: relative;
	padding-top: 0px;
	padding-left: 5px;
}

.ribbon ul ul {
	white-space: nowrap;
	list-style: none;
	padding: 0px;
	position: absolute;
	display: none;
}

.ribbon li li {
	padding-top: 10px;
	padding-left: 0px;
}

.ribbon le {
	display: block;
	background: #FFCCCC;
	padding: 1px;
	width: 100px;
	text-align: center;
}

.ribbon le:hover {
	font-weight: bold;
}

.ribbon li:hover ul {
	display: block;
}

.ribbon li ul:hover {
	display: block;
}

.ribbon li:hover ul le {
	background: #DDCCCC;
	float: left;
}

/*------------------------------------------------------------*/
/* 2. Scoreboard                                              */
/*------------------------------------------------------------*/

/*    Font                                                    */
#comment {
	font-weight: bold;
	font-style: italic;
	font-size: 110%;
}

.team {
	font-size: 125%;
}

.score {
	font-size: 400%;
}

.bids {
	font-size: 50%;
}

#board,#comment,.team,.score {
	clear: both;
	margin-left: auto;
	margin-right: auto;
}

#comment,.team,.score,.bid {
	text-align: center;
}

#board {
	width: 80%;
}

.spacer {
	height:5%;
}

#comment {
	width: 50%;
	height: 5%;
}

#board .pane {
	width: 50%;
	position: relative;
}

.team {
	width: 40%;
	height: 5%;
}

.score,#awayScore,#homeScore,.bids {
	background: #BBBB99;
	// height is determined by font size
}

.score {
	width: 40%;
}

#awayScore,#homeScore {
	width: 65%;
}

.bids {
	width: 35%;
}

/*------------------------------------------------------------*/
/* 3. Bidder                                                  */
/*------------------------------------------------------------*/

#bidder {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#submit, #bids, #tricks {
	position: absolute;
	top: 15px;
	width: 100%;
}

#submit ul {
	list-style: none;
	height: 100%;
}

#submit li {
	padding: 15px;
}

#submit li li {
	height: 35px;
	display: block;
	background: #DDCCCC;
	text-align: center;
	font-size: 175%;
}

#bids div, #bids input, #tricks div, #tricks input {
	display: block;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	font-size: 175%;
}

#bidder .submit {
	width: 100%;
}

/*------------------------------------------------------------*/
/* 4. Instructions                                            */
/*------------------------------------------------------------*/
