@import url(http://fonts.googleapis.com/css?family=Garamond);

/*------------------------------------------------------------*/
/* 0. Document Setup (structure)
/*------------------------------------------------------------*/

/*    RESET                                                   */
body,div,dl,dt,dd,ul,ol.li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

body {
	font: "Garamond";
	//font-weight: 200;
	//color: #999999;
	//background: #888888;
	//background: linear-gradient(to bottom, #888888 0%,#777777 100%)
}

/*------------------------------------------------------------*/
/* 1. Ribbon (header, footer)                                 */
/*------------------------------------------------------------*/

#ribbon {
	list-style: none;
	margin-bottom: 10px;
	width: 100%;
}

#ribbon li {
	float: left;
	position: relative;
	padding-left: 50px;
}

#ribbon ul {
	white-space: nowrap;
	list-style: none;
	position: absolute;
	display: none;
}

#ribbon ul li {
	padding-top: 5px;
	padding-left: 0px;
}

#ribbon le {
	display: block;
	background: #FF0000;
	padding: 1px;
	width: 100px;
}

#ribbon li:hover ul {
	display: block;
}

#ribbon li ul:hover {
	display: block;
}

#ribbon li:hover ul le {
	background: #00FF00;
}

/*------------------------------------------------------------*/
/* 2. Scoreboard                                              */
/*------------------------------------------------------------*/

div#board {
	font-weight: 300;
	color: #555555;
}

div#board header {
	font-weight: 500
	color: #666666;
}

div#board content {
	font-weight: 600;
	color: #777777;
	background: #000000;
}

div#board content:hover {
	color: #000000;
	background: #777777;
}

